.heading {
    font-weight: 700;
}

.subheading {
    font-size: 30px !important;
}

.spanner {
    background: linear-gradient(145deg, #08859b, #50a9ac);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.check {
    color: blue;
}

.background {
    background: linear-gradient(145deg, #08859b, #50a9ac);
}

.ans {
    font-size: 50px !important;
}