nav ul li {
    font-weight: 700;
    font-family: "Raleway";
}

.getHeight {
    min-height: 60vh;
    color: blue;
}

.logo {
    height: 7vh;
    background-color: floralwhite;
    border-radius: 100px;
}